/* ==========================================================================
 * Theme for: time-result
 * Name: Maximum
 * ========================================================================== */
/* line 17, ../../../sass/themes/time-result/maximum.sass */
.time-result.maximum {
  background-color: #f14751;
  border-color: #c03840;
  border-bottom: 1px solid #c03840;
}
/* line 21, ../../../sass/themes/time-result/maximum.sass */
.time-result.maximum .time-result-hour {
  text-shadow: 1px 1px 1px #c03840;
}
