/* ==========================================================================
 * Theme for: time-result
 * Name: Minimum
 * ========================================================================== */
/* line 17, ../../../sass/themes/time-result/minimum.sass */
.time-result.minimum {
  background-color: #ffda00;
  border-color: #ccae00;
}
/* line 20, ../../../sass/themes/time-result/minimum.sass */
.time-result.minimum .time-result-hour {
  text-shadow: 1px 1px 1px #ccae00;
}
