/* ==========================================================================
 * Theme for: time-result
 * Name: Normal
 * ========================================================================== */
/* line 17, ../../../sass/themes/time-result/normal.sass */
.time-result.normal {
  background-color: #6dcb99;
  border-color: #57a27a;
}
/* line 20, ../../../sass/themes/time-result/normal.sass */
.time-result.normal .time-result-hour {
  text-shadow: 1px 1px 1px #57a27a;
}
