/* ==========================================================================
 * Module: time-elapsed
 * ========================================================================== */
/* line 7, ../../../sass/module/time-elapsed/module.sass */
.time-elapsed {
  font-size: 30px;
  text-align: center;
  margin: 10% 15% 0;
}
