/* ==========================================================================
 * Module: btn
 * ========================================================================== */
@font-face {
  font-family: "flex_displaythin";
  src: url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.eot");
  src: url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.woff") format("woff"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.ttf") format("truetype"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.svg#flex_displaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
 * Import fonts
 * ========================================================================== */
@font-face {
  font-family: "flex_displaythin";
  src: url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.eot");
  src: url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.woff") format("woff"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.ttf") format("truetype"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.svg#flex_displaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
 * Main colors config
 * ========================================================================== */
/* line 20, ../../../sass/module/btn/module.sass */
.btn {
  display: block;
  background-image: none;
  background-color: white;
  color: #646464;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  width: 90%;
  font-family: flex_displaythin;
  font-size: 50px;
  font-weight: normal;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 36, ../../../sass/module/btn/module.sass */
.btn:active {
  background-color: #e5e5e5;
  color: #737373;
}
