/* ==========================================================================
 * Module: footer-bar
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 11, ../../../sass/module/footer-bar/module.sass */
.footer-bar {
  background-color: white;
  margin-bottom: -2.5%;
  padding: 2% 0;
}

/* line 16, ../../../sass/module/footer-bar/module.sass */
.footer-bar-body {
  width: 90%;
  margin: 0 auto;
}
