@font-face {
  font-family: "flex_displaythin";
  src: url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.eot");
  src: url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.woff") format("woff"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.ttf") format("truetype"), url("/sass/fonts/flexdisplay/flexdisplay-thin-webfont.svg#flex_displaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}
