@font-face {
  font-family: "dolce_vita_lightsuper_light";
  src: url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.eot");
  src: url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.eot?#iefix") format("embedded-opentype"), url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.woff") format("woff"), url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.ttf") format("truetype"), url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.svg#dolce_vita_lightsuper_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
