<div class="mini-logo">
  <img class="mini-logo-image" src="images/mini-upintime.png" />
  <p class="mini-logo-description">choose a time</p>
</div>

<label class="time-result minimum" for="minimum">
  <div class="time-result-body">
    <input id="minimum" class="time-result-radio" name="time-result" type="radio" />
    <p class="time-result-hour">18:54</p> 
  </div>
</label>

<label class="time-result normal" for="normal">
  <div class="time-result-body">
    <input id="normal" class="time-result-radio" name="time-result" type="radio" />
    <p class="time-result-hour">18:54</p> 
  </div>
</label>

<label class="time-result maximum" for="maximum">
  <div class="time-result-body">
    <input id="maximum" class="time-result-radio" name="time-result" type="radio" />
    <p class="time-result-hour">18:54</p> 
  </div>
</label>

<a class="btn" id="done-button">Done</a>
