<div class="mini-logo">
  <img class="mini-logo-image" src="images/mini-upintime.png" />
  <p class="mini-logo-description">choose a time</p>
</div>

<div class="time-result minimum">
  <div class="time-result-body">
    <input class="time-result-radio" type="radio" />
    <p class="time-result-hour">18:54</p> 
  </div>
</div>

<div class="time-result normal">
  <div class="time-result-body">
    <input class="time-result-radio" type="radio" />
    <p class="time-result-hour">18:54</p> 
  </div>
</div>

<div class="time-result maximum">
  <div class="time-result-body">
    <input class="time-result-radio" type="radio" />
    <p class="time-result-hour">18:54</p> 
  </div>
</div>

<a class="btn" id="next-button">Next</a>
