<div class="mini-logo">
  <img class="mini-logo-image" src="images/mini-upintime.png" />
</div>

<div class="main-time">
  <p class="main-time-clock">08<span class="main-time-clock-divisor">:<span>48</p>
  <p class="main-time-description">you will be warned at <b>10:48</b></p>
</div>

<div class="time-elapsed">
  <p class="time-elapsed-description"> you have worked </p>

  <div class="progress-bar">
    <div class="progress-bar-outside">
      <div class="progress-bar-inside"></div>
    </div>
  </div>

  <p class="time-elapsed-number">85%</p>
</div>

<div class="footer-bar">
  <div class="footer-bar-body">
    <a href="#" class="icon-btn">
      <img class="icon-btn-image" src="images/settings.svg" />
      <span class="icon-btn-text">settings</span>
    </a>

    <a href="#" class="icon-btn is-at-right">
      <img class="icon-btn-image" src="images/trash.svg" />
      <span class="icon-btn-text">reset</span>
    </a>

  </div>
</div>
