<div class="mini-logo">
  <img class="mini-logo-image" src="images/mini-upintime.png" />
</div>

<div class="main-time">
  <p class="main-time-description">you still have</p>
  <p class="main-time-clock"><%= remainderHours %><span class="main-time-clock-divisor">:</span><%= remainderMinutes %></p>
  <p class="main-time-description"> hours of work </p>
  <p class="main-time-description"> your final time is <b><%= result %></b> </p>
</div>

<div class="time-elapsed">
  <div class="progress-bar">
    <div class="progress-bar-outside">
      <div class="progress-bar-inside" style="width: <%= percent %>%"></div>
    </div>
  </div>

  <p class="time-elapsed-number"><%= percentInt %>%</p>
</div>

<div class="footer-bar">
  <div class="footer-bar-body">
    <a href="#" class="icon-btn">
      <img class="icon-btn-image" src="images/settings.svg" />
      <span class="icon-btn-text">settings</span>
    </a>

    <a href="#" class="icon-btn is-at-right">
      <img class="icon-btn-image" src="images/trash.svg" />
      <span class="icon-btn-text">reset</span>
    </a>

  </div>
</div>
