<div class="mini-logo">
  <img class="mini-logo-image" src="images/mini-upintime.png" />
</div>

<div class="main-time">
  <p class="main-time-clock">08<span class="main-time-clock-divisor">:<span>48</p>
  <p class="main-time-description">you will be have at <b>10:48</b></p>
</div>

<div class="time-elapsed">
  <p class="time-elapsed-description"> you already worked </p>

  <div class="progress-bar">
    <div class="progress-bar-outside">
      <div class="progress-bar-inside"></div>
    </div>
  </div>

  <p class="time-elapsed-number">85%</p>
</div>
