<div class="mini-logo">
  <img class="mini-logo-image" src="images/mini-upintime.png" />
  <p class="mini-logo-description">settings</p>
</div>

<form id="settings-form">
  <div class="field">
    <label class="field-label"> base time </label>
    <input class="field-input" type="time" id="base-time" value="<%= baseTime %>" name="baseTime" />
  </div>

  <div class="field">
    <label class="field-label"> minutes for discount </label>
    <input class="field-input" type="number" id="discount" placeholder="<%= discount %>" name="discount" />
  </div>

  <input type="submit" class="btn" id="next-button" value="Next">
</form>
