/* ==========================================================================
 * Module: mini-logo
 * ==========================================================================

$module-name: 'mini-logo'
$default-font-size: 45px

.#{$module-name}
  text-align: center
  margin: 2% auto 7% auto

.#{$module-name}-description
  margin: 5px auto
  font-size: $default-font-size
