/* ==========================================================================
 * Module: progress-bar
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 15, ../../../sass/module/progress-bar/module.sass */
.progress-bar {
  width: 90%;
  margin: 0 auto;
}

/* line 19, ../../../sass/module/progress-bar/module.sass */
.progress-bar-outside {
  width: 100%;
  background: #467ca3;
  height: 5px;
  border-radius: 35px;
  position: relative;
}

/* line 26, ../../../sass/module/progress-bar/module.sass */
.progress-bar-inside {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 35px;
  height: 5px;
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
