/* ==========================================================================
 * Module: main-logo
 * ========================================================================== */
/* line 7, ../../../sass/module/main-logo/module.sass */
.main-logo {
  margin: 5% auto;
  display: block;
  width: 80%;
}
