/* ==========================================================================
 * Main variables config
 * ========================================================================== */
@font-face {
  font-family: "dolce_vita_lightsuper_light";
  src: url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.eot");
  src: url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.eot?#iefix") format("embedded-opentype"), url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.woff") format("woff"), url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.ttf") format("truetype"), url("/sass/fonts/dolce-vita/dolce_vita_light-webfont.svg#dolce_vita_lightsuper_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team. */
/* ==========================================================================
 * Base styles: opinionated defaults
 * ========================================================================== */
/* line 21, ../sass/main.sass */
html,
button,
input,
select,
textarea {
  color: #222222;
}

/* line 28, ../sass/main.sass */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design. */
/* line 37, ../sass/main.sass */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 41, ../sass/main.sass */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */
/* line 48, ../sass/main.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440 */
/* line 60, ../sass/main.sass */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove default fieldset styles. */
/* line 70, ../sass/main.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas. */
/* line 78, ../sass/main.sass */
textarea {
  resize: vertical;
}

/* ==========================================================================
 * Browse Happy prompt
 * ========================================================================== */
/* line 85, ../sass/main.sass */
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/* Image replacement */
/* line 98, ../sass/main.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}

/* line 103, ../sass/main.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 112, ../sass/main.sass */
.is-hidden {
  display: none !important;
  visibility: hidden;
}

/* line 116, ../sass/main.sass */
.wrap {
  width: 1024px;
  margin: 0 auto;
}

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements. */
/* line 131, ../sass/main.sass */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 138, ../sass/main.sass */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
/* line 4, ../sass/no-modular/helpers.sass */
.fade-in-content {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 7, ../sass/no-modular/helpers.sass */
.fade-in-content.is-visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 10, ../sass/no-modular/helpers.sass */
.scale-out {
  visibility: hidden;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

/* line 16, ../sass/no-modular/helpers.sass */
.scale-in {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

/* line 22, ../sass/no-modular/helpers.sass */
.is-invisible {
  visibility: hidden !important;
}

/* line 3, ../sass/layout/_header.sass */
.l-header {
  display: block;
}

/* line 3, ../sass/layout/_content.sass */
.l-content {
  display: block;
}

/* line 4, ../sass/states/states.sass */
.is-visible {
  display: block !important;
}

/* ==========================================================================
 * Module: main-logo
 * ========================================================================== */
/* line 7, ../sass/module/main-logo/module.sass */
.main-logo {
  margin: 5% auto 10% auto;
  display: block;
  width: 80%;
}

/* ==========================================================================
 * Module: template
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 13, ../sass/module/template/module.sass */
.template {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2.5% 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 25, ../sass/module/template/module.sass */
.template.is-visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ==========================================================================
 * Module: btn
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 18, ../sass/module/btn/module.sass */
.btn {
  display: block;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  margin: 5% auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  width: 90%;
  font-family: Verdana;
  font-size: 35px;
  font-weight: normal;
  padding: 2% 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 35, ../sass/module/btn/module.sass */
.btn:active {
  background-color: rgba(176, 176, 176, 0.46);
  color: white;
}

/* ==========================================================================
 * Module: mini-logo
 * ========================================================================== */
/* line 8, ../sass/module/mini-logo/module.sass */
.mini-logo {
  text-align: center;
  margin: 2% auto 7% auto;
}

/* line 12, ../sass/module/mini-logo/module.sass */
.mini-logo-description {
  margin: 5px auto;
  font-size: 40px;
  font-family: "dolce_vita_lightsuper_light";
}

/* line 17, ../sass/module/mini-logo/module.sass */
.mini-logo-image {
  width: 70px;
}

/* ==========================================================================
 * Module: field
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 13, ../sass/module/field/module.sass */
.field {
  display: block;
  margin: 0.3% auto 1% auto;
  width: 90%;
  font-family: arial;
}

/* line 19, ../sass/module/field/module.sass */
.field-label {
  font-size: 20px;
  font-family: arial;
}

/* line 23, ../sass/module/field/module.sass */
.field-input {
  border: none;
  display: block;
  clear: both;
  width: 96%;
  font-size: 20px;
  padding: 10px 2%;
  font-family: arial;
  text-align: right;
  border: 1px solid;
  border-color: #5fa9dd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* ==========================================================================
 * Module: time-result
 * ========================================================================== */
/* line 11, ../sass/module/time-result/module.sass */
.time-result {
  display: block;
  width: 100%;
  text-align: right;
  padding: 4% 0;
  border-top: 1px solid;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 20, ../sass/module/time-result/module.sass */
.time-result.is-checked {
  outline: 5px solid;
}

/* line 23, ../sass/module/time-result/module.sass */
.time-result-body {
  width: 90%;
  display: block;
  margin: 0 auto;
  position: relative;
  font-size: 35px;
}

/* line 30, ../sass/module/time-result/module.sass */
.time-result-radio {
  display: none;
}

/* line 33, ../sass/module/time-result/module.sass */
.time-result-hour {
  margin: 0;
  position: relative;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/* ==========================================================================
 * Module: main-time
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 13, ../sass/module/main-time/module.sass */
.main-time {
  text-align: center;
}

/* line 16, ../sass/module/main-time/module.sass */
.main-time-clock {
  margin: 0 auto 0.1% auto;
  font-size: 120px;
  height: 140px;
  font-family: "dolce_vita_lightsuper_light";
  text-shadow: 1px 1px 1px #508eba;
}

/* line 23, ../sass/module/main-time/module.sass */
.main-time-description {
  font-size: 20px;
  margin: 0;
}

/* ==========================================================================
 * Module: time-elapsed
 * ========================================================================== */
/* line 7, ../sass/module/time-elapsed/module.sass */
.time-elapsed {
  font-size: 30px;
  text-align: center;
  margin: 10% 15% 0;
}

/* ==========================================================================
 * Module: progress-bar
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 15, ../sass/module/progress-bar/module.sass */
.progress-bar {
  width: 90%;
  margin: 0 auto;
}

/* line 19, ../sass/module/progress-bar/module.sass */
.progress-bar-outside {
  width: 100%;
  background: #467ca3;
  height: 5px;
  border-radius: 35px;
  position: relative;
}

/* line 26, ../sass/module/progress-bar/module.sass */
.progress-bar-inside {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 35px;
  height: 5px;
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* ==========================================================================
 * Module: footer-bar
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 11, ../sass/module/footer-bar/module.sass */
.footer-bar {
  background-color: white;
  margin-bottom: -2.5%;
  padding: 2% 0;
}

/* line 16, ../sass/module/footer-bar/module.sass */
.footer-bar-body {
  width: 90%;
  margin: 0 auto;
}

/* ==========================================================================
 * Module: icon-btn
 * ========================================================================== */
/* ==========================================================================
 * Main variables config
 * ========================================================================== */
/* line 10, ../sass/module/icon-btn/module.sass */
.icon-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
}
/* line 14, ../sass/module/icon-btn/module.sass */
.icon-btn.is-at-right {
  float: right;
}

/* line 17, ../sass/module/icon-btn/module.sass */
.icon-btn-image {
  width: 40px;
}

/* line 20, ../sass/module/icon-btn/module.sass */
.icon-btn-text {
  clear: both;
  display: block;
  font-size: 11px;
  color: #65b2e9;
}

/* ==========================================================================
 * Theme for: time-result
 * Name: Minimum
 * ========================================================================== */
/* line 17, ../sass/themes/time-result/minimum.sass */
.time-result.minimum {
  background-color: #ffda00;
  border-color: #ccae00;
}
/* line 20, ../sass/themes/time-result/minimum.sass */
.time-result.minimum .time-result-hour {
  text-shadow: 1px 1px 1px #ccae00;
}

/* ==========================================================================
 * Theme for: time-result
 * Name: Normal
 * ========================================================================== */
/* line 17, ../sass/themes/time-result/normal.sass */
.time-result.normal {
  background-color: #6dcb99;
  border-color: #57a27a;
}
/* line 20, ../sass/themes/time-result/normal.sass */
.time-result.normal .time-result-hour {
  text-shadow: 1px 1px 1px #57a27a;
}

/* ==========================================================================
 * Theme for: time-result
 * Name: Maximum
 * ========================================================================== */
/* line 17, ../sass/themes/time-result/maximum.sass */
.time-result.maximum {
  background-color: #f14751;
  border-color: #c03840;
  border-bottom: 1px solid #c03840;
}
/* line 21, ../sass/themes/time-result/maximum.sass */
.time-result.maximum .time-result-hour {
  text-shadow: 1px 1px 1px #c03840;
}
